In [1]:
import kagglehub
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
path = kagglehub.dataset_download("ranjitmandal/fraud-detection-dataset-csv")

In [3]:
csv_file = [file for file in os.listdir(path) if file.endswith('.csv')][0]

In [4]:
df = pd.read_csv(os.path.join(path, csv_file))

In [5]:
df.sample(5)

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Location,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
12855,T12856,3434,3996.59,POS Payment,21.0,Desktop,Los Angeles,1,83,1,Debit Card,0
47892,T47893,3272,2994.80,Bank Transfer,14.0,Mobile,Houston,0,21,14,Credit Card,0
21896,T21897,2918,4205.56,Online Purchase,6.0,Desktop,Chicago,2,68,2,Net Banking,0
41918,T41919,4263,4763.47,ATM Withdrawal,15.0,Desktop,Seattle,1,78,14,Debit Card,0
34084,T34085,4153,1607.41,Bill Payment,19.0,Mobile,Chicago,0,107,3,Debit Card,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Transaction_ID                    51000 non-null  object
 1   User_ID                           51000 non-null  int64
 2   Transaction_Amount                48480 non-null  float64
 3   Transaction_Type                  51000 non-null  object
 4   Time_of_Transaction               48448 non-null  float64
 5   Device_Used                       48527 non-null  object
 6   Location                          48453 non-null  object
 7   Previous_Fraudulent_Transactions  51000 non-null  int64
 8   Account_Age                       51000 non-null  int64
 9   Number_of_Transactions_Last_24H   51000 non-null  int64
 10  Payment_Method                    48531 non-null  object
 11  Fraudulent                        51000 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 4.7+ MB

In [7]:
df.isnull().sum()

Transaction_ID                         0
User_ID                                0
Transaction_Amount                  2520
Transaction_Type                       0
Time_of_Transaction                 2552
Device_Used                         2473
Location                            2547
Previous_Fraudulent_Transactions       0
Account_Age                            0
Number_of_Transactions_Last_24H        0
Payment_Method                      2469
Fraudulent                             0
dtype: int64

In [8]:
df['Payment_Method'].value_counts()

Payment_Method
UPI               11887
Debit Card        11802
Net Banking       11666
Credit Card       11646
Invalid Method     1530
Name: count, dtype: int64

In [9]:
data=df.copy()

In [10]:
data.isnull().sum()

Transaction_ID                         0
User_ID                                0
Transaction_Amount                  2520
Transaction_Type                       0
Time_of_Transaction                 2552
Device_Used                         2473
Location                            2547
Previous_Fraudulent_Transactions       0
Account_Age                            0
Number_of_Transactions_Last_24H        0
Payment_Method                      2469
Fraudulent                             0
dtype: int64

In [11]:
data=data.drop(columns=['Transaction_ID','User_ID','Location'])

In [12]:
data.sample(5)

,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
35733,1414.20,ATM Withdrawal,15.0,Mobile,3,100,6,Net Banking,0
7210,217.64,Bill Payment,19.0,Mobile,0,4,4,Credit Card,1
24032,180.97,POS Payment,1.0,Mobile,2,78,8,Net Banking,0
14588,2261.38,ATM Withdrawal,8.0,Tablet,0,39,2,UPI,0
34321,3985.90,Bill Payment,NaN,NaN,4,33,13,UPI,1

In [13]:
data.isnull().sum()

Transaction_Amount                  2520
Transaction_Type                       0
Time_of_Transaction                 2552
Device_Used                         2473
Previous_Fraudulent_Transactions       0
Account_Age                            0
Number_of_Transactions_Last_24H        0
Payment_Method                      2469
Fraudulent                             0
dtype: int64

In [14]:
data['Transaction_Amount']=df['Transaction_Amount'].fillna(df['Transaction_Amount'].mean())

In [15]:
data['Time_of_Transaction']=df['Time_of_Transaction'].fillna(df['Time_of_Transaction'].mean())

In [16]:
data['Device_Used']=df['Device_Used'].fillna(df['Device_Used'].mode().iloc[0])

In [17]:
data['Payment_Method']=df['Payment_Method'].fillna(df['Payment_Method'].mode().iloc[0])

In [18]:
data.describe()

,Transaction_Amount,Time_of_Transaction,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Fraudulent
count,51000.000000,51000.000000,51000.000000,51000.000000,51000.000000,51000.000000
mean,2996.249784,11.488400,1.995725,60.033902,7.495588,0.049216
std,4917.736637,6.747518,1.415150,34.384131,4.020080,0.216320
min,5.030000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,1333.787500,6.000000,1.000000,30.000000,4.000000,0.000000
50%,2656.165000,11.488400,2.000000,60.000000,7.000000,0.000000
75%,3724.987500,17.000000,3.000000,90.000000,11.000000,0.000000
max,49997.800000,23.000000,4.000000,119.000000,14.000000,1.000000

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le=LabelEncoder()

In [21]:
data['Transaction_Type']=le.fit_transform(data[['Transaction_Type']])

In [22]:
data['Device_Used']=le.fit_transform(data[['Device_Used']])

In [23]:
data['Payment_Method']=le.fit_transform(data[['Payment_Method']])

In [24]:
data

,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
0,1292.76,0,16.0000,2,0,119,13,1,0
1,1554.58,0,13.0000,1,4,79,3,0,0
2,2395.02,0,11.4884,1,3,115,9,4,0
3,100.10,2,15.0000,0,4,3,4,4,0
4,1490.50,4,19.0000,1,2,57,7,0,0
...,...,...,...,...,...,...,...,...,...
50995,3112.51,2,15.0000,1,0,7,8,1,0
50996,2897.15,3,3.0000,1,1,75,11,3,1
50997,2204.43,4,18.0000,1,3,73,5,0,0
50998,4787.17,4,19.0000,2,2,108,14,3,0
50999,814.72,4,3.0000,2,0,50,10,2,0

In [25]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score

In [26]:
scaler=StandardScaler()

In [27]:
x=data.iloc[:,0:8]
y=data.iloc[:,-1]

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [29]:
x_train_trans=scaler.fit_transform(x_train)

In [30]:
x_test_trans=scaler.fit_transform(x_test)

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, ExtraTreesClassifier, HistGradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB, ComplementNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from xgboost import XGBClassifier

In [32]:
models = [
    LogisticRegression(),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    GradientBoostingClassifier(),
    AdaBoostClassifier(),
    ExtraTreesClassifier(),
    HistGradientBoostingClassifier(),
    KNeighborsClassifier(),
    SVC(),
    GaussianNB(),
    MultinomialNB(),
    BernoulliNB(),
    ComplementNB(),
    LinearDiscriminantAnalysis(),
    QuadraticDiscriminantAnalysis(),
    XGBClassifier()
]

In [33]:
model= [
    "LogisticRegression",
    "DecisionTreeClassifier",
    "RandomForestClassifier",
    "GradientBoostingClassifier",
    "AdaBoostClassifier",
    "ExtraTreesClassifier",
    "HistGradientBoostingClassifier",
    "KNeighborsClassifier",
    "SVC",
    "GaussianNB",
    "MultinomialNB",
    "BernoulliNB",
    "ComplementNB",
    "LinearDiscriminantAnalysis",
    "QuadraticDiscriminantAnalysis",
    "XGBClassifier"
]

In [34]:
scores=[]

In [35]:
for i in models:
    i.fit(x_train,y_train)
    y_pred=i.predict(x_test)
    scores.append(accuracy_score(y_test,y_pred))

In [36]:
for i,j in zip(model,scores):
    print(i,':',j)

LogisticRegression : 0.951437908496732
DecisionTreeClassifier : 0.8925490196078432
RandomForestClassifier : 0.9530718954248366
GradientBoostingClassifier : 0.9513071895424836
AdaBoostClassifier : 0.9513725490196079
ExtraTreesClassifier : 0.9526143790849673
HistGradientBoostingClassifier : 0.951437908496732
KNeighborsClassifier : 0.9505228758169935
SVC : 0.951437908496732
GaussianNB : 0.9432026143790849
MultinomialNB : 0.9003921568627451
BernoulliNB : 0.951437908496732
ComplementNB : 0.5877777777777777
LinearDiscriminantAnalysis : 0.951437908496732
QuadraticDiscriminantAnalysis : 0.9432026143790849
XGBClassifier : 0.9511111111111111

In [37]:
max_index = scores.index(max(scores))
best_model = models[max_index]
best_score = scores[max_index]

In [38]:
print("\nBest Model:", best_model, "with score:", best_score)

Best Model: RandomForestClassifier() with score: 0.9530718954248366

In [39]:
import optuna

In [40]:
def objective(trial):
    n_estimators = trial.suggest_int("n_estimators", 50, 300)
    max_depth = trial.suggest_int("max_depth", 2, 20)
    min_samples_split = trial.suggest_int("min_samples_split", 2, 10)
    min_samples_leaf = trial.suggest_int("min_samples_leaf", 1, 10)
    max_features = trial.suggest_categorical("max_features", ["sqrt", "log2", None])

    model = RandomForestClassifier(
        n_estimators=n_estimators,
        max_depth=max_depth,
        min_samples_split=min_samples_split,
        min_samples_leaf=min_samples_leaf,
        max_features=max_features,
        random_state=42,
        n_jobs=-1,  
        warm_start=True, 
    )

    score = cross_val_score(model, x_train_trans, y_train, cv=3, scoring="accuracy", n_jobs=-1).mean()
    return score

In [42]:
study = optuna.create_study(direction="maximize")
study.optimize(objective, n_trials=50)

[I 2025-03-16 15:46:23,903] A new study created in memory with name: no-name-c0e642b1-a5cc-4aba-b53e-ac2cba2de39d
[I 2025-03-16 15:46:30,111] Trial 0 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 234, 'max_depth': 19, 'min_samples_split': 7, 'min_samples_leaf': 2, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.9505042016806723.
[I 2025-03-16 15:46:38,147] Trial 1 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 235, 'max_depth': 15, 'min_samples_split': 3, 'min_samples_leaf': 8, 'max_features': 'log2'}. Best is trial 0 with value: 0.9505042016806723.
[I 2025-03-16 15:46:55,362] Trial 2 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 259, 'max_depth': 9, 'min_samples_split': 4, 'min_samples_leaf': 4, 'max_features': None}. Best is trial 0 with value: 0.9505042016806723.
[I 2025-03-16 15:46:59,288] Trial 3 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 254, 'max_depth': 6, 'min_samples_split': 4, 'min_samples_leaf': 2, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.9505042016806723.
[I 2025-03-16 15:47:03,206] Trial 4 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 218, 'max_depth': 5, 'min_samples_split': 6, 'min_samples_leaf': 7, 'max_features': 'log2'}. Best is trial 0 with value: 0.9505042016806723.
[I 2025-03-16 15:47:11,283] Trial 5 finished with value: 0.9505602240896359 and parameters: {'n_estimators': 97, 'max_depth': 15, 'min_samples_split': 3, 'min_samples_leaf': 1, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:47:34,144] Trial 6 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 299, 'max_depth': 15, 'min_samples_split': 2, 'min_samples_leaf': 8, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:47:39,075] Trial 7 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 150, 'max_depth': 12, 'min_samples_split': 3, 'min_samples_leaf': 10, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:47:54,311] Trial 8 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 210, 'max_depth': 12, 'min_samples_split': 10, 'min_samples_leaf': 5, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:47:57,036] Trial 9 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 243, 'max_depth': 3, 'min_samples_split': 3, 'min_samples_leaf': 6, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:48:03,192] Trial 10 finished with value: 0.950532212885154 and parameters: {'n_estimators': 63, 'max_depth': 20, 'min_samples_split': 6, 'min_samples_leaf': 1, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:48:08,763] Trial 11 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 58, 'max_depth': 20, 'min_samples_split': 7, 'min_samples_leaf': 1, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:48:14,173] Trial 12 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 60, 'max_depth': 17, 'min_samples_split': 9, 'min_samples_leaf': 1, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:48:23,451] Trial 13 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 110, 'max_depth': 16, 'min_samples_split': 5, 'min_samples_leaf': 3, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:48:32,551] Trial 14 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 103, 'max_depth': 18, 'min_samples_split': 8, 'min_samples_leaf': 3, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:48:40,545] Trial 15 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 101, 'max_depth': 13, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:48:50,547] Trial 16 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 160, 'max_depth': 9, 'min_samples_split': 2, 'min_samples_leaf': 4, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:48:58,661] Trial 17 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 81, 'max_depth': 20, 'min_samples_split': 6, 'min_samples_leaf': 3, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:04,091] Trial 18 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 134, 'max_depth': 14, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:08,780] Trial 19 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 187, 'max_depth': 10, 'min_samples_split': 8, 'min_samples_leaf': 5, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:15,526] Trial 20 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 79, 'max_depth': 17, 'min_samples_split': 4, 'min_samples_leaf': 10, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:20,802] Trial 21 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 184, 'max_depth': 19, 'min_samples_split': 7, 'min_samples_leaf': 2, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:24,828] Trial 22 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 138, 'max_depth': 18, 'min_samples_split': 7, 'min_samples_leaf': 1, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:32,606] Trial 23 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 275, 'max_depth': 20, 'min_samples_split': 8, 'min_samples_leaf': 2, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:36,232] Trial 24 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 122, 'max_depth': 17, 'min_samples_split': 10, 'min_samples_leaf': 1, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:37,869] Trial 25 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 50, 'max_depth': 18, 'min_samples_split': 9, 'min_samples_leaf': 4, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:49:44,330] Trial 26 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 77, 'max_depth': 15, 'min_samples_split': 6, 'min_samples_leaf': 3, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:50:03,546] Trial 27 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 211, 'max_depth': 20, 'min_samples_split': 7, 'min_samples_leaf': 2, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:50:07,193] Trial 28 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 88, 'max_depth': 19, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:50:12,250] Trial 29 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 171, 'max_depth': 16, 'min_samples_split': 9, 'min_samples_leaf': 2, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:50:19,007] Trial 30 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 198, 'max_depth': 14, 'min_samples_split': 6, 'min_samples_leaf': 6, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:50:26,763] Trial 31 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 225, 'max_depth': 15, 'min_samples_split': 3, 'min_samples_leaf': 8, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:50:34,362] Trial 32 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 248, 'max_depth': 11, 'min_samples_split': 4, 'min_samples_leaf': 9, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:50:42,762] Trial 33 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 236, 'max_depth': 16, 'min_samples_split': 2, 'min_samples_leaf': 7, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:50:52,682] Trial 34 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 270, 'max_depth': 19, 'min_samples_split': 3, 'min_samples_leaf': 8, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:51:07,443] Trial 35 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 285, 'max_depth': 8, 'min_samples_split': 4, 'min_samples_leaf': 9, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:51:16,131] Trial 36 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 260, 'max_depth': 13, 'min_samples_split': 3, 'min_samples_leaf': 3, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:51:22,567] Trial 37 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 233, 'max_depth': 18, 'min_samples_split': 2, 'min_samples_leaf': 7, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:51:38,075] Trial 38 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 203, 'max_depth': 14, 'min_samples_split': 4, 'min_samples_leaf': 4, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:51:42,786] Trial 39 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 66, 'max_depth': 12, 'min_samples_split': 5, 'min_samples_leaf': 9, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:51:49,403] Trial 40 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 296, 'max_depth': 7, 'min_samples_split': 3, 'min_samples_leaf': 6, 'max_features': 'log2'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:51:59,848] Trial 41 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 261, 'max_depth': 6, 'min_samples_split': 3, 'min_samples_leaf': 5, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:52:05,257] Trial 42 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 218, 'max_depth': 3, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:52:21,407] Trial 43 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 247, 'max_depth': 11, 'min_samples_split': 4, 'min_samples_leaf': 4, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:52:27,245] Trial 44 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 93, 'max_depth': 10, 'min_samples_split': 6, 'min_samples_leaf': 2, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:52:34,250] Trial 45 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 114, 'max_depth': 10, 'min_samples_split': 4, 'min_samples_leaf': 1, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:52:36,720] Trial 46 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 65, 'max_depth': 5, 'min_samples_split': 3, 'min_samples_leaf': 3, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:52:40,946] Trial 47 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 225, 'max_depth': 8, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'sqrt'}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:53:02,618] Trial 48 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 289, 'max_depth': 13, 'min_samples_split': 8, 'min_samples_leaf': 5, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.
[I 2025-03-16 15:53:17,398] Trial 49 finished with value: 0.9505042016806723 and parameters: {'n_estimators': 166, 'max_depth': 19, 'min_samples_split': 7, 'min_samples_leaf': 1, 'max_features': None}. Best is trial 5 with value: 0.9505602240896359.

In [43]:
study.best_params

{'n_estimators': 97,
 'max_depth': 15,
 'min_samples_split': 3,
 'min_samples_leaf': 1,
 'max_features': None}

In [44]:
study.best_value

0.9505602240896359

In [45]:
best_params = study.best_params
final_model = RandomForestClassifier(**best_params, random_state=42, n_jobs=-1)
final_model.fit(x_train_trans, y_train)
y_pred = final_model.predict(x_test_trans)

In [46]:
accuracy_score(y_test,y_pred)

0.951437908496732

In [47]:
import pickle

In [48]:
with open("fraud.pkl", "wb") as file:
    type=pickle.dump(final_model, file)